{
  "extends": ["eslint:recommended", "plugin:prettier/recommended", "plugin:react/recommended", "plugin:jest/all"],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest/globals": true
  },
  "settings": {
    "react": {
      "pragma": "OwnReactComponent",
      "version": "16.7"
    }
  }
}
